.service-details {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.details-button {
  display: flex;
  justify-content: space-between;
}

.go-service {
  color: white;
  text-decoration: none;
}

.go-service:hover {
  color: white;
  text-decoration: none;
}
