.about-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.about-container h1 {
  font-size: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-details {
  margin-bottom: 100px;
}
