.some-service {
  text-align: center;
}

.some-service button {
  margin-bottom: 10px;
}

.someService-section {
  text-align: center;
}

.someService-section h1 {
  font-size: 50px;
  font-family: "poppins";
  margin-bottom: 50px;
  font-weight: 600;
}

.some-service img {
  height: 200px;
}
