.input-section {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input-section input,
.input-section textarea {
  margin-top: 30px;
  border-bottom: solid 1px #333;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contract-form {
  text-align: center;
}
